@using StackExchange.Profiling
@{
    Provider provider = this.ViewData["__Provider"] as Provider;
    Guid? providerGroupId = (Guid?)this.ViewData["__ProviderGroupId"];
    Guid? providerId = (Guid?)this.ViewData["__ProviderId"];

    bool blank = ViewBag.Blank == true;

    if (ViewBag.BodyClasses == null)
    {
        ViewBag.BodyClasses = "page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo";
    }
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>@ViewBag.Title - Paw Loyalty</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    @RenderSection("styles", required: false)   <!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->

    <link href="//kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />

    <link href="//kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />

    <link href="//kendo.cdn.telerik.com/2017.2.621/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

    @Styles.Render("~/content/assets/global/css/bundle")

</head>
<body class="@ViewBag.BodyClasses">

    @MiniProfiler.RenderIncludes()
    
    @if (blank)
    {
        @RenderBody()
    }
    else
    {
        @Html.Partial("_HeaderPartial", provider)

        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                @Html.Partial("_SidebarPartial", provider)
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEAD-->
                        <div class="page-head">
                            <!-- BEGIN PAGE TITLE -->
                            @if (ViewBag.PageTitle != null)
                            {
                                <div class="page-title">
                                    <h1>
                                        @ViewBag.PageTitle
                                        @if (ViewBag.PageSubTitle != null)
                                        {
                                            <small>@ViewBag.PageSubTitle</small>
                                        }
                                    </h1>
                                </div>
                            }
                            <!-- END PAGE TITLE -->
                            <!-- BEGIN PAGE TOOLBAR -->
                            <div class="page-toolbar">
                                <!-- BEGIN THEME PANEL -->
                                <!-- REMOVED -->
                                <!-- END THEME PANEL -->
                            </div>
                            <!-- END PAGE TOOLBAR -->
                        </div>
                        <!-- END PAGE HEAD-->
                        <!-- BEGIN PAGE BREADCRUMB -->
                        <!-- REMOVED -->
                        <!-- END PAGE BREADCRUMB -->
                        <!-- BEGIN PAGE BASE CONTENT -->
                        <div class="row">
                            <div class="col-md-12">
                                @RenderBody()
                            </div>
                        </div>
                        <!-- END PAGE BASE CONTENT -->
                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                @Html.Partial("_QuickSidebarPartial")
            </div>
        </div>
        <!-- END CONTAINER -->


        @Html.Partial("_Footer")
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="//kendo.cdn.telerik.com/2017.2.621/js/jszip.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2017.2.621/js/kendo.aspnetmvc.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2017.2.621/js/kendo.timezones.min.js"></script>

    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>


    @Html.Kendo().DeferredScripts()
    <script src="@Url.Content("~/Scripts/paw.js")"></script>
    <script>
        $(function () {

        });

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>